header {
  background-image: url("../img/siege.jpg");
  background-position: center;
  height: 50vh;
}

header, h1{
  color: white;
  font-size: 450%;
  padding-top: 60px;
}

h1 {
  text-align: center;
  font-size: 350%;
  font-style: normal;
  font-family: cursive;
}
.jumbotron {
  background-color: grey;
}
body{
  background-image: url(../img/pingpong2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.column {
    width: 350px;
    float: left;
    border: 1px solid white;
  }

.column p, h3 {
  color: white;


}

.rules {
    width: 350px;
  }

.rules p, ul, li {
  color: white;

}
