header {
  background-image: url(../img/numbers2.jpg);
  background-position: center;
  height: 80vh;
}

header, h1{
  color: white;
  font-size: 350%;
  padding-top: 60px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 350%;
  font-style: normal;
  font-family: cursive;
  color: black;
}
.jumbotron {
  background-image: url("../img/siege.jpg");
}
body{
  background-image: url(../img/pingpong2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.column {
    width: 350px;
    float: right;
    border: 1px solid white;
  }

.column p, h3 {
  color: white;


}

.rules {
    width: 350px;
  }

.rules p, ul, li {
  color: white;

}
label{
  color: white;
}
